doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Bootstrap Table with Add and Delete Row Feature
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        style(type='text/css').
            body {
                color: #404E67;
                background-image: url(../img/bg1.png);
                font-family: 'Open Sans', sans-serif;
            }
            .table-wrapper {
                width: 1170px;
                margin: auto;
                background: #fff;
                padding: 20px;
                box-shadow: 0 1px 1px rgba(0,0,0,.05);
            }
            .table-title {
                padding-bottom: 10px;
                margin: 0 0 10px;
            }
            .table-title h2 {
                margin: 6px 0 0;
                font-size: 22px;
            }
            .table-title .add-new {
                float: right;
                height: 30px;
                font-weight: bold;
                font-size: 12px;
                text-shadow: none;
                min-width: 100px;
                border-radius: 50px;
                line-height: 13px;
            }
            .table-title .add-new i {
                margin-right: 4px;
            }
            table.table {
                table-layout: fixed;
            }
            table.table tr th, table.table tr td {
                border-color: #e9e9e9;
            }
            table.table th i {
                font-size: 13px;
                margin: 0 5px;
                cursor: pointer;
            }
            table.table th:last-child {
                width: 150px;
            }
            table.table td a {
                cursor: pointer;
                display: inline-block;
                margin: 0 5px;
                min-width: 24px;
            }
            table.table td a.add {
                color: #27C46B;
            }
            table.table td a.edit {
                color: #FFC107;
            }
            table.table td a.delete {
                color: #E34724;
            }
            table.table td i {
                font-size: 19px;
            }
            table.table td a.add i {
                font-size: 24px;
                margin-right: -1px;
                position: relative;
                top: 3px;
            }
            table.table .form-control {
                height: 32px;
                line-height: 32px;
                box-shadow: none;
                border-radius: 2px;
            }
            table.table .form-control.error {
                border-color: #f50000;
            }
            table.table td .add {
                display: none;
            }
        script(src='js/creditcard.js')
    body
        .container
            .table-wrapper(style='margin-top : 10%;')
                .table-title
                    .row
                        .col-sm-8
                            h2
                                | Credit Card
                                b Information
                        .col-sm-4
                            button.btn.btn-info.add-new(type='button')
                                i.fa.fa-plus
                                |  Add New
                table.table.table-bordered
                    thead
                        tr
                            th Card Number
                            th Name
                            th Expiration Date
                            th Verification Number
                            th Actions
                    tbody
                        each val in data
                            tr
                                td=val.num
                                td=val.name
                                td=val.date
                                td=val.vn
                                td
                                    a.add(title='Add', data-toggle='tooltip')
                                        i.material-icons 
                                    //a.edit(title='Edit', data-toggle='tooltip')
                                        i.material-icons 
                                    a.delete(title='Delete', data-toggle='tooltip')
                                        i.material-icons 


