nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') PolyPay
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.NAVBAR-RIGHT
            li.nav-item.active.navbar-right
                a.nav-link(href='/home')
                    | Home
                    span.sr-only (current)
            li.nav-item.active.navbar-right
                a.nav-link(href='/history') History
            li.nav-item.active.navbar-right
                a.nav-link(href='/activity') Activity
            li.nav-item.active.navbar-right
                a.nav-link(href='/changeprofile') Change Profile
            li.nav-item.active.navbar-right
                a.nav-link(href='/logout') Log Out